<!DOCTYPE html>
<html>
<head>
    <title>
        Giới thiệu
    </title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="menu1">
                <input type="text" name="isearch" id="ipsearch" class="bg-search" placeholder="Tìm kiếm">
                <ul>
                    <li><a href="#" id="icsearch"><img src="./icon/baseline_search_white_18dp.png"></a></li>
                    <li><a href="./login.html" class="ip">ĐĂNG NHẬP</a></li>
                    <li><a href="./trangchu.html" class="ip">ĐĂNG KÝ</a></li>
                </ul>
            </div>
            <div id="top1">
                <img src="./imges/logo.png" height="170px" width="140px">
            </div>
            <div id="top2">
                <p id="p1"><b>QUẢN LÝ THÔNG TIN XE GẮN MÁY </br> TẠI TP.ĐÀ NẴNG</b></p>
                <p id="p2"><b> BỘ CÔNG AN </b></p>
            </div>
            <div id="top3">
                <img src="./imges/1.png" height="165px" width="330px">
            </div>
            <div id="menu2">
                <ul>
                    <li><a href="./trangchu.html"><img src="./icon/baseline_home_white_18dp.png"></a></li>
                    <li><a href="./gioithieu.html"><b>GIỚI THIỆU</b></a></li>
                    <li><a href="./tintuc.html"><b>TIN TỨC SỰ KIỆN</b></a></li>
                    <li><a href="./luatgiaothong.html"><b>LUẬT GIAO THÔNG</b></a></li>
                    <li><a href="./thongke_baocao.html"><b>THỐNG KÊ - BÁO CÁO</b></a></li>
                </ul>
            </div>
        </div>
        <div id="maincontent_gioithieu">
            <div id="left">
                <ul>
                    <li><a href="./quanlytraodoixe.html">QUẢN LÝ TRAO ĐỔI XE</a></li>
                    <li><a href="./quanlyxe.html">QUẢN LÝ XE</a></li>
                    <li><a href="./quydinhgiaothong.html">QUY ĐỊNH GIAO THÔNG</a></li>
                    <li><a href="./dethithu.html">ĐỀ THI THỬ</a></li>
                    <li><a href="./quanlytainan.html">QUẢN LÝ TAI NẠN</a></li>
                    <li><a href="./quanlytaikhoan.html">QUẢN LÝ TÀI KHOẢN</a></li>
                    <li><a href="./thongtincanhan.html">THÔNG TIN CÁ NHÂN</a></li>
                </ul>
            </div>
            <div id="right_gioithieu">
                <div id="content1_gioithieu">
                    <div class="top1_gioithieu">
                        <ul>
                            <li><a href="./gioithieu.html"><b>GIỚI THIỆU</b></a></li>
                        </ul>
                    </div>
                    <div>
                        <h1 class="h1">&nbsp; &nbsp;Luật giao thông đường bộ năm 2019</h1>
                    </div>
                    <div id="main1_gioithieu">
                        <p class="p4">&nbsp; &nbsp; &nbsp;Luật giao thông đường bộ là văn bản quy phạm pháp lật do Cơ quan nhà nước CHXHCNVN ban hành để điều chỉnh các vấn đề về giao thông đường bộ và được đảm bảo thực hiện băn quyền lực nhà nước.</p>
                        <p class="p4">&nbsp; &nbsp; &nbsp;Nhìn lại sử lập pháp thì Luật Giao thông đường bộ đầu tiên của nước ta là Luật giao thông đường bộ năm 2001, luật này được Quốc hội nước Cộng hòa xã hội chủ nghĩa Việt Nam khóa X, kỳ họp thứ 9 thông qua ngày 29/6/2001, có hiệu lực thi hành từ ngày 01/01/2002 (sau đây gọi chung là Luật năm 2001). Đây là luật đầu tiên về giao thông đường bộ, được đúc kết sau một quá trình thực hiện các Pháp lệnh, Nghị định và các văn bản quy phạm pháp luật về giao thông đường bộ và các lĩnh vực có liên quan</p>
                        <p class="p4">&nbsp; &nbsp; &nbsp;Tuy nhiên cùng với sự phát triển của đất nước, trong xu thế hội nhập kinh tế quốc tế và nhất là trong tình trạng trật tự an toàn giao thông đường bộ diễn biến ngày càng phức tạp thì Luật năm 2001 đã bộ lộ nhiều hạn chế cần phải được nghiên cứu sửa đổi, bổ sung kịp thời.</p>
                        <p class="p4">&nbsp; &nbsp; &nbsp;Nhận thức được sự cần thiết trên, ngày 13/11/2008 Quốc hội nước Cộng hoà xã hội chủ nghĩa Việt Nam khoá XII thông qua luật số: 23/2008/QH12ngày (còn gọi là Luật giao thông đường bộ năm 2008) luật này có hiệu lực thi hành từ ngày 01/7/2009 và thay thế Luật giao thông đường bộ ngày 29/6/2001 và cho đến nay vẫn còn hiệu lực thi hành.</p>
                        <p class="p4">&nbsp; &nbsp; &nbsp;So với luật giao thông đường bộ măm 2001 thì Luật giao thông đường bộ năm 2008 gồm 8 chương với 89 điều. Trong số 89 điều, Luật chỉ có 03 điều của Luật năm 2001 được giữ nguyên (chiếm 3.37%); có 68 điều bổ sung, sửa đổi (chiếm 76.40%) và 18 điều mới (chiếm 20.23%).</p>
                        <p class="p4">&nbsp; &nbsp; &nbsp;Sau đây chúng tôi xin trích dẫn một số quy định của Luật giao thông đường bộ năm 2008 cho các ban tiện theo dõi.</p>
                    </div>
                    <div id="main2_gioithieu">
                        <h1 class="h2"> QUỐC HỘI</h1>
                        <p>-----</p>
                        </br></br></br></br>
                        <p class="p4">Luật số: 23/2008/QH12</p>
                    </div>
                    <div id="main3_gioithieu">
                        <h1 class="h2"> CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h1>
                        <h2 class="h2">Độc lập - Tự do - Hạnh phúc</h2>
                        <p>--------</p>
                        </br></br></br>
                        <p class="p4"><i>Hà Nội, ngày 13 tháng 11 năm 2008</i></p>
                    </div>
                    <div id="main4_gioithieu">
                        <h1 class="h2">LUẬT</h1>
                        <p class="p4">GIAO THÔNG ĐƯỜNG BỘ</p>
                    </div>
                    <div id="main5_gioithieu">
                        <p class="p4"><i>Căn cứ Hiến pháp nước Cộng hòa xã hội chủ nghĩa Việt Nam năm 1992 đã được sửa đổi, bổ sung một số điều theo Nghị quyết số 51/2001/QH10;</br>
                            Quốc hội ban hành Luật giao thông đường bộ.</i>
                        </p></br>
                        <h1 class="h2">CHƯƠNG 1</h1>
                    </div>
                    <div id="main6_gioithieu">
                        <h1 class="h2">NHỮNG QUY ĐỊNH CHUNG</h1>
                    </div>
                    <div id="main7_gioithieu">
                        <h1 class="h2">Điều 1. Phạm vi điều chỉnh</h1></br>
                        <p class="p4">Luật này quy định về quy tắc giao thông đường bộ; kết cấu hạ tầng giao thông đường bộ; phương tiện và người tham gia giao thông đường bộ; vận tải đường bộ và quản lý nhà nước về giao thông đường bộ.</p></br>
                        <h1 class="h2">Điều 2. Đối tượng áp dụng</h1></br>
                        <p class="p4">Luật này áp dụng đối với tổ chức, cá nhân liên quan đến giao thông đường bộ trên lãnh thổ nước Cộng hòa xã hội chủ nghĩa Việt Nam.</p></br>
                        <h1 class="h2">Điều 3. Giải thích từ ngữ</h1></br>
                        <p class="p4">Trong Luật này, các từ ngữ dưới đây được hiểu như sau:</p>
                        <p class="p4">1. <i>Đường bộ</i> gồm đường, cầu đường bộ, hầm đường bộ, bến phà đường bộ.</p>
                        <p class="p4">2. <i>Công trình đường bộ</i> gồm đường bộ, nơi dừng xe, đỗ xe trên đường bộ, đèn tín hiệu, biển báo hiệu, vạch kẻ đường, cọc tiêu, rào chắn, đảo giao thông, dải phân cách, cột cây số, tường, kè, hệ thống thoát nước, trạm kiểm tra tải trọng xe, trạm thu phí và các công trình, thiết bị phụ trợ đường bộ khác.</p>
                        <p class="p4">3. <i>Kết cấu hạ tầng giao thông đường bộ</i> gồm công trình đường bộ, bến xe, bãi đỗ xe, trạm dừng nghỉ và các công trình phụ trợ khác trên đường bộ phục vụ giao thông và hành lang an toàn đường bộ.</p>
                        <p class="p4">4. <i>Đất của đường bộ</i> là phần đất trên đó công trình đường bộ được xây dựng và phần đất dọc hai bên đường bộ để quản lý, bảo trì, bảo vệ công trình đường bộ.</p>
                        <p class="p4">5. <i>Hành lang an toàn đường bộ</i> là dải đất dọc hai bên đất của đường bộ, tính từ mép ngoài đất của đường bộ ra hai bên để bảo đảm an toàn giao thông đường bộ.</p>
                        <p class="p4">6. <i>Phần đường xe chạy</i> là phần của đường bộ được sử dụng cho phương tiện giao thông qua lại.</p>
                        <p class="p4">7. <i>Làn đường</i> là một phần của phần đường xe chạy được chia theo chiều dọc của đường, có bề rộng đủ cho xe chạy an toàn.</p>
                        <p class="p4">8. <i>Khổ giới hạn của đường bộ</i> là khoảng trống có kích thước giới hạn về chiều cao, chiều rộng của đường, cầu, bến phà, hầm đường bộ để các xe kể cả hàng hóa xếp trên xe đi qua được an toàn.</p>
                        <p class="p4">9. <i>Đường phố</i> là đường đô thị, gồm lòng đường và hè phố.</p>
                        <p class="p4">10. <i>Dải phân cách</i> là bộ phận của đường để phân chia mặt đường thành hai chiều xe chạy riêng biệt hoặc để phân chia phần đường của xe cơ giới và xe thô sơ. Dải phân cách gồm loại cố định và loại di động.</p>
                        <p class="p4">11. <i>Nơi đường giao nhau cùng mức</i> (sau đây gọi là nơi đường giao nhau) là nơi hai hay nhiều đường bộ gặp nhau trên cùng một mặt phẳng, gồm cả mặt bằng hình thành vị trí giao nhau đó.</p>
                        <p class="p4">12. <i>Đường cao tốc</i> là đường dành cho xe cơ giới, có dải phân cách chia đường cho xe chạy hai chiều riêng biệt; không giao nhau cùng mức với một hoặc các đường khác; được bố trí đầy đủ trang thiết bị phục vụ, bảo đảm giao thông liên tục, an toàn, rút ngắn thời gian hành trình và chỉ cho xe ra, vào ở những điểm nhất định.</p>
                        <p class="p4">13. <i>Đường chính</i> là đường bảo đảm giao thông chủ yếu trong khu vực.</p>
                        <p class="p4">14. <i>Đường nhánh</i> là đường nối vào đường chính.</p>
                        <p class="p4">15. <i>Đường ưu tiên</i> là đường mà trên đó phương tiện tham gia giao thông đường bộ được các phương tiện giao thông đến từ hướng khác nhường đường khi qua nơi đường giao nhau, được cắm biển báo hiệu đường ưu tiên.</p>
                        <p class="p4">16. <i>Đường gom</i> là đường để gom hệ thống đường giao thông nội bộ của các khu đô thị, công nghiệp, kinh tế, dân cư, thương mại – dịch vụ và các đường khác vào đường chính hoặc vào đường nhánh trước khi đấu nối vào đường chính.</p>
                        <p class="p4">17. <i>Phương tiện giao thông đường bộ</i> gồm phương tiện giao thông cơ giới đường bộ, phương tiện giao thông thô sơ đường bộ.</p>
                        <p class="p4">18. <i>Phương tiện giao thông cơ giới đường bộ</i> (sau đây gọi là xe cơ giới) gồm xe ô tô; máy kéo; rơ moóc hoặc sơ mi rơ moóc được kéo bởi xe ô tô, máy kéo; xe mô tô hai bánh; xe mô tô ba bánh; xe gắn máy (kể cả xe máy điện) và các loại xe tương tự.</p>
                        <p class="p4">19. <i>Phương tiện giao thông thô sơ đường bộ</i> (sau đây gọi là xe thô sơ) gồm xe đạp (kể cả xe đạp máy), xe xích lô, xe lăn dùng cho người khuyết tật, xe súc vật kéo và các loại xe tương tự.</p>
                        <p class="p4">20. <i>Xe máy chuyên dùng</i> gồm xe máy thi công, xe máy nông nghiệp, lâm nghiệp và các loại xe đặc chủng khác sử dụng vào mục đích quốc phòng, an ninh có tham gia giao thông đường bộ.</p>
                        <p class="p4">21. <i>Phương tiện tham gia giao thông đường bộ</i> gồm phương tiện giao thông đường bộ và xe máy chuyên dùng.</p>
                        <p class="p4">22. <i>Người tham gia giao thông</i> gồm người điều khiển, người sử dụng phương tiện tham gia giao thông đường bộ; người điều khiển, dẫn dắt súc vật; người đi bộ trên đường bộ.</p>
                        <p class="p4">23. <i>Người điều khiển phương tiện</i> gồm người điều khiển xe cơ giới, xe thô sơ, xe máy chuyên dùng tham gia giao thông đường bộ.</p>
                        <p class="p4">24. <i>Người lái xe</i> là người điều khiển xe cơ giới.</p></br>
                        <p id="p5">-----------------------------------------------------------------------------</p>
                        <p class="p4">Bạn có thể xem Luật giao thông đường bộ năm 2019 tại đây:</p>
                    </div>
                    <div id="main8_gioithieu">
                        <ul>
                            <li><a href="./luatgiaothong.html"><b>>> Luật giao thông đường bộ năm 2019</b></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="footer1">
                <img src="./imges/logo.png" height="170px" width="140px">
                <p class="p3"><b>CƠ QUAN CÔNG AN</b></p>
                <p class="p3"><b>TP.ĐÀ NẴNG</b></p>
            </div>
            <div id="footer2">
                <div id="footer2_menu1">
                    <div class="footer2_menu1">
                        <ul>
                            <li><a href="./trangchu.html">Trang Chủ</a></li>
                            <li><a href="./trangchu.html">Chỉnh Sửa Thông Tin</a></li>
                            <li><a href="./trangchu.html">Liên Hệ</a></li>
                            <li><a href="./trangchu.html">Tin Tức Liên Quan</a></li>
                        </ul>
                    </div>
                </div>
                <div id="footer_top">
                        <p class="p" id="p4">Giấy phép xuất bản số: 68/GP-TTĐT do Bộ Công An & Giao Thông Vận Tải cấp ngày 19-2-2019.</p>
                        <p class="p" id="p5">Bản quyền thuộc về Công An TP Đà Nẵng.</p>
                        <p class="p" id="p6"><b>Không được sao chép thông tin website này dưới bất kỳ hình thức nào khi chưa được sự đồng ý chính thức bằng văn bản của Công An TP Đà Nẵng.</b></p>
                </div>
                <div id="footer_main">
                    <span id="WorkPlace">
                        <div>
                            <strong>Cơ quan của Công an TP Đà Nẵng</strong>
                        </div>
                        <div>62 Phan Châu Trinh - TP Đà Nẵng - Tel: 0236&nbsp;3822626 &nbsp;* &nbsp;3824892 &nbsp;* &nbsp;3810492 - Fax :&nbsp;0236&nbsp;3824892 &nbsp;* &nbsp;3822795   <b>Email:</b> atgtcadn@gmail.com</div>
                        <div><b>VPĐD tại Quảng Nam:</b> 30B- Hùng Vương, TP Tam Kỳ- ĐT: 0235&nbsp;2221777&nbsp;</div>
                        <div><b>VPĐD tại TPHCM:</b> 40C5- Chu Văn An, Q. Bình Thạnh - ĐT: 0283 35113075</div>
                        <div><b>VPĐD tại Tây Nguyên:</b> Đường Hoàng Đạo Thúy- Tổ 15, P.Tây Sơn, TP Pleiku, Gia Lai - ĐT, FAX: 0968 707090</div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>