<!DOCTYPE html>
<html>
<head>
    <title>
        Luật giao thông
    </title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="menu1">
                <input type="text" name="isearch" id="ipsearch" class="bg-search" placeholder="Tìm kiếm">
                <ul>
                    <li><a href="#" id="icsearch"><img src="./icon/baseline_search_white_18dp.png"></a></li>
                    <li><a href="./login.html" class="ip">ĐĂNG NHẬP</a></li>
                    <li><a href="./trangchu.html" class="ip">ĐĂNG KÝ</a></li>
                </ul>
            </div>
            <div id="top1">
                <img src="./imges/logo.png" height="170px" width="140px">
            </div>
            <div id="top2">
                <p id="p1"><b>QUẢN LÝ THÔNG TIN XE GẮN MÁY </br> TẠI TP.ĐÀ NẴNG</b></p>
                <p id="p2"><b> BỘ CÔNG AN </b></p>
            </div>
            <div id="top3">
                <img src="./imges/1.png" height="165px" width="330px">
            </div>
            <div id="menu2">
                <ul>
                    <li><a href="./trangchu.html"><img src="./icon/baseline_home_white_18dp.png"></a></li>
                    <li><a href="./gioithieu.html"><b>GIỚI THIỆU</b></a></li>
                    <li><a href="./tintuc.html"><b>TIN TỨC SỰ KIỆN</b></a></li>
                    <li><a href="./luatgiaothong.html"><b>LUẬT GIAO THÔNG</b></a></li>
                    <li><a href="./thongke_baocao.html"><b>THỐNG KÊ - BÁO CÁO</b></a></li>
                </ul>
            </div>
        </div>
        <div id="maincontent_luatgiaothong">
            <div id="left">
                <ul>
                    <li><a href="./quanlytraodoixe.html">QUẢN LÝ TRAO ĐỔI XE</a></li>
                    <li><a href="./quanlyxe.html">QUẢN LÝ XE</a></li>
                    <li><a href="./quydinhgiaothong.html">QUY ĐỊNH GIAO THÔNG</a></li>
                    <li><a href="./dethithu.html">ĐỀ THI THỬ</a></li>
                    <li><a href="./quanlytainan.html">QUẢN LÝ TAI NẠN</a></li>
                    <li><a href="./quanlytaikhoan.html">QUẢN LÝ TÀI KHOẢN</a></li>
                    <li><a href="./thongtincanhan.html">THÔNG TIN CÁ NHÂN</a></li>
                </ul>
            </div>
            <div id="right_luatgiaothong">
                <div id="content1_gioithieu">
                    <div class="top1_gioithieu">
                        <ul>
                            <li><a href="./luatgiaothong.html"><b>LUẬT GIAO THÔNG</b></a></li>
                        </ul>
                    </div>
                    <div class="top2_tieude">
                        <h1 class="h1">Tư vấn Luật: 12 quy định của Luật Giao thông đường bộ ai cũng cần biết</h1>
                    </div>
                    <div id="main_luatgiaothong">
                        <p class="p4"><i>Luật Giao thông đường bộ </i>mới nhất đã được ban hành cách đây khá lâu, tuy nhiên cho đến nay, không phải ai khi tham gia giao thông cũng nắm rõ được hết các quy định. Điều này dẫn đến việc không ít người sẽ vô tình mắc phải những hành vi vi phạm<i>Luật giao thông đường bộ.</i></p></br>
                        <p class="p4">Để đảm bảo an toàn và không bị xử phạt khi tham gia giao thông, dưới đây là 12 quy định cơ bản nhất của Luật Giao thông đường bộ mà bạn nên nắm rõ:</p></br>
                        <h1 class="h2">1. Quy định về đèn vàng</h1></br>
                        <p class="p4">Tại khoản 3 Điều 10, đèn giao thông được quy định bao gồm: Đèn xanh, Đèn đỏ và Đèn vàng. Trong đó, đèn xanh là được đi; đèn đỏ là cấm đi.</p></br>
                        <p class="p4">Đèn vàng là phải dừng lại trước vạch dừng, trừ trường hợp đã đi quá vạch dừng thì được đi tiếp; trong trường hợp tín hiệu vàng nhấp nháy là được đi nhưng phải giảm tốc độ, chú ý quan sát, nhường đường cho người đi bộ qua.</p></br>
                        <img src="./imges/Tu_van_Luat_giao_thong_duong_bo_1.jpg" height="450px" width="750px"></br></br>
                        <h1 class="h2">2. Vượt xe phải báo hiệu bằng đèn hoặc còi</h1></br>
                        <p class="p4">Điều 14 quy định, xe xin vượt phải có báo hiệu bằng đèn hoặc còi; trong đô thị và khu đông dân cư từ 22 giờ đến 5 giờ chỉ được báo hiệu xin vượt bằng đèn.</p></br>
                        <p class="p4">Khi vượt, các xe phải vượt về bên trái, trừ khi xe phía trước có tín hiệu rẽ trái hoặc đang rẽ trái; khi xe điện đang chạy giữa đường; khi xe chuyên dùng đang làm việc trên đường mà không thể vượt bên trái được.</p></br>
                        <h1 class="h2">7 nơi không được lùi xe</h1></br>
                        <p class="p4">Điều 16 quy định, không được lùi xe tại các địa điểm sau:</p></br></br>
                        <p class="p4">- Ở khu vực cấm dừng</p></br>
                        <p class="p4">- Trên phần đường dành cho người đi bộ qua đường</p></br>
                        <p class="p4">- Nơi đường bộ giao nhau</p></br>
                        <p class="p4">- Nơi đường bộ giao với đường sắt</p></br>
                        <p class="p4">- Nơi tầm nhìn bị che khuất</p></br>
                        <p class="p4">- Trong hầm đường bộ</p></br>
                        <p class="p4">- Đường cao tốc</p></br>
                        <h1 class="h2">4. Dừng, đỗ xe không cách lề đường phố quá 0,25m</h1></br>
                        <img src="./imges/Tu_van_Luat_giao_thong_duong_bo_2.jpg" height="500px" width="750px"></br></br>
                        <p class="p4">Nguyên tắc dừng, đỗ xe trên đường phố được quy định tại Điều 19 Luật Giao thông đường bộ như sau: Phải cho xe dừng, đỗ sát theo lề đường, hè phố phía bên phải theo chiều đi của mình; bánh xe gần nhất không được cách lề đường, hè phố quá 0,25m; trường hợp đường phố hẹp, phải dừng xe, đỗ xe ở vị trí cách xe ô tô đang đỗ bên kia đường tối thiểu 20m.</p></br>
                        <p class="p4">Không được dừng xe, đỗ xe trên đường xe điện, trên miệng cống thoát nước, miệng hầm của đường điện thoại, điện cao thế, chỗ dành riêng cho xe chữa cháy lấy nước.</p></br>
                        <h1 class="h2">5. Xe chữa cháy được đi trước tiên</h1></br>
                        <p class="p4">Theo Điều 22, trong số các xe ưu tiên thì xe chữa cháy đi làm nhiệm vụ được ưu tiên đi trước các xe khác; sau đó là lần lượt là xe quân sự, xe công an đi làm nhiệm vụ khẩn cấp; Xe cứu thương đang thực hiện nhiệm vụ cấp cứu; Xe hộ đê, xe làm nhiệm vụ khắc phục sự cố thiên tai; Đoàn xe tang.</p></br>
                        <p class="p4">Khi có tín hiệu của xe được quyền ưu tiên, người tham gia giao thông phải nhanh chóng giảm tốc độ, tránh hoặc dừng lại sát lề đường bên phải để nhường đường.</p></br>
                        <h1 class="h2">6. Chỉ được “kẹp 3” trên xe máy trong 3 trường hợp</h1></br>
                        <img src="./imges/Tu_van_Luat_giao_thong_duong_bo_3.jpg" height="400px" width="750px"></br></br>
                        <p class="p4">Người điều khiển xe máy chỉ được chở một người, trong 03 trường hợp sau thì được chở 02 người: Chở người bệnh đi cấp cứu; Áp giải người có hành vi vi phạm pháp luật; Chở trẻ em dưới 14 tuổi.</p></br>
                        <p class="p4">Khi ngồi trên xe máy không được sử dụng ô; mang, vác vật cồng kênh; đứng trên yên xe… - theo Điều 30.</p></br>
                        <h1 class="h2">7. Người đủ 16 tuổi được đi xe máy</h1></br>
                        <p class="p4">Điều 60 quy định về độ tuổi của người điều khiển xe máy, ô tô như sau:</p></br>
                        <p class="p4">- Người đủ 16 tuổi trở lên được lái xe máy dung tích xi-lanh dưới 50 cm3</p></br>
                        <p class="p4">- Người đủ 18 tuổi trở lên được lái xe máy dung tích xi-lanh từ 50 cm3 trở lên; xe ô tô tải có trọng tải dưới 3.500 kg; xe ô tô chở người đến 9 chỗ ngồi</p></br>
                        <p class="p4">- Người đủ 24 tuổi trở lên được lái xe ô tô chở người từ 10 đến 30 chỗ ngồi</p></br>
                        <p class="p4">- Người đủ 27 tuổi trở lên được lái xe ô tô chở người trên 30 chỗ ngồi</p></br>
                        <p class="p4">- Tuổi tối đa của người lái ô tô trên 30 chỗ ngồi là 50 tuổi đối với nữ và 55 tuổi đối với nam.</p></br>
                        <h1 class="h2">8. Nhận diện hiệu lệnh của người điều khiển giao thông</h1></br>
                        <img src="./imges/Tu_van_Luat_giao_thong_duong_bo_4.jpg" height="450px" width="750px"></br></br>
                        <p class="p4">Theo khoản 2 Điều 10 Luật giao thông, hiệu lệnh của người điều kiện giao thông bao gồm:</p></br>
                        <p class="p4">- Tay giơ thẳng đứng: Báo hiệu cho người tham giao thông ở các hướng dừng lại;</p></br>
                        <p class="p4">- Hai tay hoặc một tay dang ngang: Báo hiệu cho người tham gia giao thông ở phía trước và ở phía sau người điều khiển giao thông phải dừng lại; người tham gia giao thông ở phía bên phải và bên trái của người điều khiển giao thông được đi.</p></br>
                        <p class="p4">- Tay phải giơ về phía trước: Báo hiệu cho người tham gia giao thông ở phía sau và bên phải người điều khiển giao thông phải dừng lại; người tham gia giao thông ở phía trước người điều khiển giao thông được rẻ phải; người tham gia giao thông ở phía bên trái người điều khiển giao thông được đi tất cả các hướng; người đi bộ phải đi sau lưng người điều khiển giao thông.</p></br>
                        <h1 class="h2">9. Nhận diện biển báo hiệu đường bộ</h1></br>
                        <p class="p4">Nếu như tín hiệu đèn giao thông có 3 màu thì biển báo hiệu đường bộ có 05 nhó, gồm:</p></br>
                        <p class="p4">- Biển báo cấm để biểu thị các điều cấm;</p></br>
                        <p class="p4">- Biển báo nguy hiểm để cánh báo các tình huống nguy hiểm có thể xảy ra;</p></br>
                        <p class="p4">- Biển hiệu lệnh để báo các hiệu lệnh phải thi hành;</p></br>
                        <p class="p4">- Biển  chỉ dẫn để chỉ dần hướng đi hoặc các điều cần biết;</p></br>
                        <p class="p4">- Biển phụ để thuyết minh bổ sung các loại biển báo cấm, biển báo nguy hiểm, biển hiệu lệnh và biển chỉ dẫn.</p></br>
                        <h1 class="h2">10. Tốc độ cho phép của các loại xe</h1></br>
                        <img src="./imges/Tu_van_Luat_giao_thong_duong_bo_5.jpg" height="500px" width="750px"></br></br>
                        <p class="p4">Theo khoản 1 Điều 12 Luật Giao thông đường bộ, người lái xe phải tuân thủ quy định về tốc độ xe chạy trên đường. Điều 6, Điều 7, Thông tư 91/2015/TT-BGTVT hướng dẫn cụ thể về quy định này như sau:</p></br>
                        <p class="p4">- Trong khu vực đông dân cư: tốc độ tối đa cho phép của các phương tiện (trừ xe máy chuyên dùng, xe gắn máy) là 60km/h nếu là đường đôi; 50km/h nếu là đường hai chiều không có dải phân cách; đường một chiều có một làn.</p></br>
                        <p class="p4">- Ngoài khu vực đông dân cư: tốc độ tối đa cho phép của các phương tiện là 90km/h nếu là ô tô con, ô tô đến 30 chỗ; 80km/h nếu là ô tô trên 30 chỗ nếu là đường đôi; nếu là đường hai chiều không có dải phân cách giữa, đường một chiều có 1 làn xe cơ giới, tốc độ tương ứng của các loại xe là 80km/h và 70km/h…</p></br>
                        <h1 class="h2">11. Khoảng cách an toàn giữa các xe</h1></br>
                        <img src="./imges/Tu_van_Luat_giao_thong_duong_bo_6.jpg" height="500px" width="750px"></br></br>
                        <p class="p4">Bên cạnh đảm bảo tốc độ cho phép, Luật Giao thông yêu cầu người lái xe phải giữ một khoảng cách an toàn đối với xe chạy liền trước xe của mình. Thông tư 91/2015/TT-BGTVT hướng dẫn về điều này như sau:</p></br>
                        <p class="p4">- Khi mặt đường khô ráo, nếu tốc độ chạy xe dưới 60km/h thì khoảng cách tối thiểu là 35m; nếu 80km/h thì khoảng cách là 55m, nếu 100km/h thì là 70m, 120km/h là 100m.</p></br>
                        <p class="p4">- Khi trời mưa, có sương mù, mặt đường trơn trượt, đường quanh co, đèo dốc…, người lái xe phải điều chỉnh khoảng cách theo biển báo trên đường.</p></br>
                        <h1 class="h2">12. Cấm người đi bộ đi vào đường cao tốc</h1></br>
                        <p class="p4">Điều 26 Luật giao thông đường bộ 2008 cấm người đi bộ, xe thô sơ, xe gắn máy, xe mô tô và máy kéo; xe máy chuyên dùng có tốc độ thiết kế nhỏ hơn 70km/h đi vào đường cao tốc, trừ người, phương tiện, thiết bị phục vụ việc quản lý, bảo trì đường cao tốc.</p></br>
                        <p class="p4">Với các phương tiện khác, khi đi vào đường cao tốc, người lái xe phải có tín hiệu xin vào và phải nhường đường cho xe đang chạy trên đường, khi thấy an toàn mới cho xe nhập vào dòng xe…</p></br>
                        <p id="p5">-----------------------------------------------------------------------------</p>
                        <p class="p4">Bạn có thể xem chi tiết Luật giao thông đường bộ năm 2019 tại đây:</p>
                    </div>
                    <div id="main8_gioithieu">
                        <ul>
                            <li><a href="./luatgiaothong.html"><b>>> Luật giao thông đường bộ năm 2019</b></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="footer1">
                <img src="./imges/logo.png" height="170px" width="140px">
                <p class="p3"><b>CƠ QUAN CÔNG AN</b></p>
                <p class="p3"><b>TP.ĐÀ NẴNG</b></p>
            </div>
            <div id="footer2">
                <div id="footer2_menu1">
                    <div class="footer2_menu1">
                        <ul>
                            <li><a href="./trangchu.html">Trang Chủ</a></li>
                            <li><a href="./trangchu.html">Chỉnh Sửa Thông Tin</a></li>
                            <li><a href="./trangchu.html">Liên Hệ</a></li>
                            <li><a href="./trangchu.html">Tin Tức Liên Quan</a></li>
                        </ul>
                    </div>
                </div>
                <div id="footer_top">
                        <p class="p" id="p4">Giấy phép xuất bản số: 68/GP-TTĐT do Bộ Công An & Giao Thông Vận Tải cấp ngày 19-2-2019.</p>
                        <p class="p" id="p5">Bản quyền thuộc về Công An TP Đà Nẵng.</p>
                        <p class="p" id="p6"><b>Không được sao chép thông tin website này dưới bất kỳ hình thức nào khi chưa được sự đồng ý chính thức bằng văn bản của Công An TP Đà Nẵng.</b></p>
                </div>
                <div id="footer_main">
                    <span id="WorkPlace">
                        <div>
                            <strong>Cơ quan của Công an TP Đà Nẵng</strong>
                        </div>
                        <div>62 Phan Châu Trinh - TP Đà Nẵng - Tel: 0236&nbsp;3822626 &nbsp;* &nbsp;3824892 &nbsp;* &nbsp;3810492 - Fax :&nbsp;0236&nbsp;3824892 &nbsp;* &nbsp;3822795   <b>Email:</b> atgtcadn@gmail.com</div>
                        <div><b>VPĐD tại Quảng Nam:</b> 30B- Hùng Vương, TP Tam Kỳ- ĐT: 0235&nbsp;2221777&nbsp;</div>
                        <div><b>VPĐD tại TPHCM:</b> 40C5- Chu Văn An, Q. Bình Thạnh - ĐT: 0283 35113075</div>
                        <div><b>VPĐD tại Tây Nguyên:</b> Đường Hoàng Đạo Thúy- Tổ 15, P.Tây Sơn, TP Pleiku, Gia Lai - ĐT, FAX: 0968 707090</div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>